@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
}

  .btn-custom:hover {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
  }

/*.flex.items-center {
  border-color: transparent;
}*/

.modal-box {
  max-width: 50%;
  width: 50%;
  height: auto;
  max-height: 90vh;
}

.btn-error.ml-2 {
  margin-left: 0.5rem;
}

.btn-custom.ml-auto {
  margin-left: auto;
}

.btn-success {
  background-color: green;
  color: white;
}

  .btn-success:hover {
    background-color: darkgreen;
    color: white;
  }
