@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
}

  .btn-custom:hover {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
  }

/*.flex.items-center {
  border-color: transparent;
}*/

.modal-box {
  max-width: 50%;
  width: 50%;
  height: auto;
  max-height: 90vh;
}
