.sidebar {
  background-color: #f3f3f3;
  transition: width 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  width: 60px; /* Minimal width when collapsed */
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  position: sticky; /* Make the sidebar fixed on the screen */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  z-index: 1000; /* Ensure it stays above other content */
}

  .sidebar:hover {
    width: 200px; /* Full width when expanded */
  }

.sidebar-menu {
  flex: 1; /* Ensures this section grows to fill the available space */
  display: flex;
  flex-direction: column;
}

  .sidebar-menu .menu-section-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4b1717;
    font-size: 0.9rem;
    padding-left: 10px;
  }

.burger-menu {
  padding: 10px;
  cursor: pointer;
  background-color: #f3f3f3;
}

  .burger-menu:hover {
    background-color: #f3f3f3;
  }

.menu-icon {
  width: 40px;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  text-align: left;
}

  li a {
    text-decoration: none;
    color: #030303;
    cursor: pointer;
  }

  li:hover {
    background-color: #f3f3f3;
  }

    li:hover a {
      color: #898789;
    }
.grayed-out a {
  color: #a0a0a0; 
}

.grayed-out:hover a {
  color: #898789; 
}

/* Hide the list items when the sidebar is collapsed */
.sidebar-menu li {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-menu li {
  opacity: 1;
}
