@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply bg-base-200 transition-all overflow-hidden whitespace-nowrap w-16 hover:w-52 h-screen flex flex-col rounded-2xl;
}

.burger-menu {
  @apply p-2 cursor-pointer;
}

.menu-icon {
  @apply w-10 h-auto;
}

.hidden {
  display: none;
}

.sidebar-menu {
  @apply flex flex-col;
}

li {
  @apply py-4 text-left;
}

  li a {
    @apply no-underline text-base-content cursor-pointer;
  }

  li:hover {
    @apply bg-base-100;
  }

    li:hover a {
      @apply text-secondary;
    }

.grayed-out-light a {
  @apply text-gray-400;
}

.grayed-out-light:hover a {
  @apply text-gray-500;
}

.grayed-out-dark a {
  @apply text-gray-600;
}

.grayed-out-dark:hover a {
  @apply text-gray-700;
}

.active {
  @apply transform translate-x-5; /* Shift the active view slightly to the right */
}

  .active a {
    @apply font-bold;
  }

/* Hide the list items when the sidebar is collapsed */
.sidebar-menu li {
  @apply opacity-0 transition-opacity duration-300;
}

.sidebar:hover .sidebar-menu li {
  @apply opacity-100;
}

.theme-controller-container {
  @apply mt-auto p-4 opacity-0 transition-opacity duration-300 flex justify-center;
}

.sidebar:hover .theme-controller-container {
  @apply opacity-100;
}
