@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply bg-base-200 transition-all overflow-hidden whitespace-nowrap w-16 hover:w-52 h-screen flex flex-col rounded-2xl;
  position: sticky; /* Make the sidebar fixed on the screen */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  z-index: 1000; /* Ensure it stays above other content */
}
.burger-menu {
  @apply p-2 cursor-pointer;
}

.menu-icon {
  @apply w-10 h-auto;
}

.hidden {
  display: none;
}

.sidebar-menu {
  @apply flex flex-col;
}

  .sidebar-menu .menu-section-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4b1717;
    font-size: 0.9rem;
    padding-left: 10px;
  }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  text-align: left;
}

  li a {
    @apply no-underline text-base-content cursor-pointer;
  }

  li:hover {
    @apply bg-base-100;
  }

    li:hover a {
      @apply text-secondary;
    }

.grayed-out-light a {
  @apply text-gray-400;
}

.grayed-out-light:hover a {
  @apply text-gray-500;
}

.grayed-out-dark a {
  @apply text-gray-600;
}

.grayed-out-dark:hover a {
  @apply text-gray-700;
}

.active {
  @apply transform translate-x-5; /* Shift the active view slightly to the right */
}

  .active a {
    @apply font-bold;
  }

/* Hide the list items when the sidebar is collapsed */
.sidebar-menu li {
  @apply opacity-0 transition-opacity duration-300;
}

.sidebar:hover .sidebar-menu li {
  @apply opacity-100;
}

.theme-controller-container {
  @apply mt-auto p-4 opacity-0 transition-opacity duration-300 flex justify-center;
}

.sidebar:hover .theme-controller-container {
  @apply opacity-100;
}
