<div class="dashboard-container">
  <app-sidebar (navigate)="updateView($event)"></app-sidebar>
  <div class="main-content flex-grow p-4 transition-all duration-300">
   <!-- Non-adminrights views -->
    <div *ngIf="selectedView !== 'adminrights'">
    <div class="top-bar flex justify-between items-center mb-4">
      <div class="date-range-filter flex gap-4 items-center">
        <div>
          <label for="fromDate" class="font-bold">From: </label>
          <input id="fromDate" type="date" [(ngModel)]="filter.fromDate" (change)="applyDateRangeChange(filter.fromDate, filter.toDate)" class="input input-bordered" />
        </div>
        <div>
          <label for="toDate" class="font-bold">To: </label>
          <input id="toDate" type="date" [(ngModel)]="filter.toDate" (change)="applyDateRangeChange(filter.fromDate, filter.toDate)" class="input input-bordered" />
        </div>
        <button (click)="CustomRefreshGraphData()" class="btn btn-custom" [ngClass]="{'active': selectedFilter === 'custom'}">Custom</button>
        <button (click)="setFilter('daily')" class="btn btn-custom" [ngClass]="{'active': selectedFilter === 'daily'}">Daily</button>
        <button (click)="setFilter('weekly')" class="btn btn-custom" [ngClass]="{'active': selectedFilter === 'weekly'}">Weekly</button>
        <button (click)="setFilter('monthly')" class="btn btn-custom" [ngClass]="{'active': selectedFilter === 'monthly'}">Monthly</button>
        <img src="save-icon.png" alt="Export CSV" class="export-icon" />
      </div>
    </div>

    <!-- Dashboard stats -->
    <div *ngIf="selectedView === 'overview'" class="stats shadow">
      <!-- Stat box for user signups -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total Users</div>
        <div class="stat-value">{{ totalUserSignups }}</div>
      </div>

      <!-- Stat box for team signups -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total Teams</div>
        <div class="stat-value">{{ totalTeamSignups }}</div>
      </div>

      <!-- Stat box for organization signups -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total Organizations</div>
        <div class="stat-value">{{ totalOrganizationSignups }}</div>
      </div>

      <!-- Stat box for Valorant users -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total Valorant Users</div>
        <div class="stat-value">{{ totalValorantProfiles }}</div>
      </div>

      <!-- Stat box for League of Legends users -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total League of Legends Users</div>
        <div class="stat-value">{{ totalLeagueProfiles }}</div>
      </div>

      <!-- Stat box for user game profiles -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total UserProfiles</div>
        <div class="stat-value">{{ totalUserGameProfiles }}</div>
      </div>

      <!-- Stat box for competitions -->
      <div class="stat-box place-items-center">
        <div class="stat-title">Total Competitions</div>
        <div class="stat-value">{{ totalCompetitions }}</div>
      </div>

      <canvas id="chart-container"></canvas>
    </div>

    <!-- Admin Rights View -->
    <div *ngIf="selectedView === 'adminrights'">
      <app-adminrights></app-adminrights>
    </div>
  </div>
</div>


